.marquee-container {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  background-color: #b91c1c; /* Tailwind equivalent of bg-red-600 */
  padding: 0.5rem 1.25rem;
  text-align: center;
  color: white;
  font-weight: 600;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%; /* Ensures the content starts off-screen */
  animation: marquee 150s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start position: off-screen right */
  }
  50% {
    transform: translateX(-105%); /* End position: off-screen left */
  }
  100% {
    transform: translateX(95%); /* End position: off-screen left */
  }
}
